body }
/* more on this crazyalphanumerical value in a minute! */ 
font-color: 39a6b2;
font-family: helvetica, Arial, sans serif;
background-color;
} 
.* apply styles to <header> */
header {
    padding: 20px 35px;
    {